.problem-container {
    display: flex;
    justify-content: space-between; /* Sát lề trái */
    gap: 3rem;
    flex-wrap: wrap;
    background: #214ECF;
    padding-top: 10px;
    font-family: 'Google Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background: #214ECF;
    padding: 3rem 1rem;
    font-family: 'Google Sans', sans-serif;
    margin: 0 auto;
}






.problem-left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex: 1 1 300px;
    padding: 1rem;
}

.problem-left img {
    margin-top: 15%;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    transform: scale(1.7);
}



.problem-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
    width: 100%;
}

.problem-buttons .icon-button {
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    border-radius: 50px;
    font-weight: bold;
}


.problem-buttons .label {
    font-size: 3rem;
    padding: 0px 53px 0px 0px;
}

.button1 {
    background: #F2674A;
    border-radius: 50px;
}
.button2 {
    background: #F2674A;
    border-radius: 50px;
}
.button1:hover {
    transform: scale(1.05);
    transition: transform .2s;
    background: #F2674A;
}
.button2:hover {
    transform: scale(1.05);
    transition: transform .2s;
    background: #F2674A;
}








.problem-right {
    flex: 1 1 500px;
    min-width: 280px;
    color: white;
}


.problem-title {
    font-size: clamp(1.5rem, 3.5vw, 2.5rem);
    font-weight: bold;
    margin-bottom: 1.5rem;
}


.problem-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột đều nhau */
    gap: 1.5rem;
    margin-top: 2rem;
}


.problem-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    text-align: center;
}


.problem-icon-box {
    background: #F2674A;
    border-radius: 20px;
    width: 130%;
    aspect-ratio: 1 / 1; /* giữ box vuông */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.problem-icon-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2.0);
}

.problem-caption {
    margin-top: 0.5rem;
    font-size: clamp(0.9rem, 1.3vw, 1.1rem);
}

.problem-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    text-align: center;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.problem-item img {
    width: 60px;
    height: 60px;
}

.problem-arrow {
    text-align: center;
    margin-top: -40px;
    margin-left: -65px;
}

.problem-cta {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: bold;
    margin-top: 2rem;
    color: #F5EEE6;
    text-align: center;
}
