.problem-section {
    display: flex;
    justify-content: space-between; /* Sát lề trái */
    gap: 3rem;
    flex-wrap: wrap;
    background: #214ECF;
    padding-top: 10px;
    font-family: 'Google Sans', sans-serif;
}






.problem-left {
    display: flex;
    flex-direction: column;
    align-items: center;     /* Căn giữa nút dưới ảnh */
    flex: 0 0 40%;           /* Hoặc max-width */
    max-width: 40%;
    justify-content: space-between;
}
.problem-left img {
    width: 250%;  /* Cho to hơn box cha */
    height: auto;
    display: block;
    margin: -90px 0px 0px 150px;
    object-fit: contain;
}

.problem-buttons {
    display: flex;
    gap: 30px;
    height: 150px;
    margin: -120px 0px 60px 150px;
    bottom: 0;
}

.problem-buttons .icon-button {
    padding: 40px 20px;
}

.problem-buttons .label {
    font-size: 3rem;
    padding: 0px 53px 0px 0px;
}

.button1 {
    background: #F2674A;
    border-radius: 50px;
}
.button2 {
    background: #F2674A;
    border-radius: 50px;
}
.button1:hover {
    transform: scale(1.05);
    transition: transform .2s;
    background: #F2674A;
}
.button2:hover {
    transform: scale(1.05);
    transition: transform .2s;
    background: #F2674A;
}








.problem-right {
    flex: 1;
    max-width: 50%;
    justify-content: flex-start;
}

.problem-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: #fff; /* tuỳ background */
}

.problem-icons {
    display: flex;
    justify-content: center;   /* Căn giữa hàng ngang */
    align-items: flex-start;   /* Cho caption thẳng đều */
    gap: 10%;
    margin-top: 50px;
    margin-left: -50px;               /* Khoảng cách giữa item */
    flex-wrap: wrap;           /* Cho responsive khi hẹp */
}

.problem-icon-box {
    background: #F2674A;  /* Cam */
    border-radius: 50px;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.problem-icon-box img {
    width: 100%;        /* Bao phủ chiều ngang box */
    height: 100%;       /* Bao phủ chiều dọc box */
    object-fit: cover;  /* Bảo toàn tỉ lệ */
    transform: scale(2.3);
}


.problem-caption {
    margin-top: 8px;
    color: #fff;          /* text trắng */
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    width: 180px;
}
.problem-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    text-align: center;
}

.problem-item img {
    width: 60px;
    height: 60px;
}

.problem-arrow {
    text-align: center;
    margin-top: -40px;
    margin-left: -65px;
}

.problem-cta {
    font-size: 3.2rem;
    font-weight: 500;
    text-align: left;
    font-weight: bold;
    margin-top: -5px;
    color: #F5EEE6;
}
