.problem-container {
    font-family: 'Google Sans', sans-serif;
    background: #214ECF;
    display: flex;
}

.problem-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.problem-left img {
    object-fit: cover;
}
.problem-buttons {
    display: flex;
    justify-content: center;
}
.button1 {
    background: #F2674A;
}
.button2 {
    background: #F2674A;
}
.button1:hover {
    transform: scale(1.05);
    transition: transform .2s;
    background: #F2674A;
}
.button2:hover {
    transform: scale(1.05);
    transition: transform .2s;
    background: #F2674A;
}


.problem-icons {
    display: grid;
    justify-items: center;
}
.problem-icon-box {
    background: #F2674A;
    aspect-ratio: 1 / 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.problem-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.problem-arrow {
    margin: 0 auto;
    text-align: center;
    animation: moveDown 1s ease-in-out infinite;
}
.problem-cta {
    color: #F5EEE6;
    text-align: center;
    
    font-weight: bold;
    margin-bottom: 0px;
}

.problem-left {
    overflow: hidden;
    width: 100%;
}

.problem-container {
    max-width: min(100vw, 1920px);
    padding: min(60px, 3.3vw) min(27px, 1.5vw);
}
.problem-left img {
    border-radius: min(27px, 1.5vw);
}
.problem-buttons {
    width: 100%;
    gap: min(27px, 1.5vw);
    padding-top: min(27px, 1.5vw);
}
.problem-buttons .icon-button {
    font-size: min(39px, 2.1vw);
    padding: min(27px, 1.5vw);
}

.problem-right {
    color: white;
    overflow: hidden;
    margin-top: -min(60px, 3.3vw);
}
.problem-title {
    margin-left: min(54px, 3vw);
    font-size: min(65px, 3.5vw);
    font-weight: bold;
}
.problem-icons {
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    gap: min(50px, 2.5vw);
}
.problem-item {
    margin-top: -min(20px, 0.8vw);
    max-width: min(200px, 11vw);
}
.problem-icon-box {
    width: min(170px, 9vw);
    overflow: hidden;
    border-radius: min(30px, 1.5vw);
}
.problem-icon-box img {
    width: min(150px, 8vw);
    object-fit: cover;
}
.problem-caption {
    font-size: min(23px, 1.3vw);
}
.problem-arrow img {
    margin-top: min(10px, 0.5vw);
    width: min(130px, 7vw);
}
@keyframes moveDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(min(10px, 0.5vw)); }
    100% { transform: translateY(0); }
}
.problem-cta {
    margin-top: min(20px, 1vw);
    font-size: min(49px, 2.6vw);
}
.problem-buttons-zoomed {
    display: none;
}



@media (max-width: 768px) {
    .problem-left {
        display: none;
    }
    .problem-buttons-zoomed {
        display: flex;
    }

    .problem-container {
        padding: 20px 0px;
    }
    .problem-title {
        text-align: center;
        font-size: 27px;
        font-weight: bold;
    }
    
    .problem-icons {
        width: min(100%, 576px);
        margin-top: 30px;
    }

    .problem-icon-box {
        width: max(17vw, 80px);
        overflow: hidden;
        border-radius: max(4vw, 20px);
    }
    .problem-icon-box img {
        width: max(15vw, 70px);
    }
    .problem-caption {
        margin-top: 4px;
        font-size: max(2.4vw, 12px);
        width: max(20vw, 80px);
    }
    .problem-arrow img {
        margin-top: 10px;
        width: 80px;
    }
    .problem-cta {
        margin-top: 20px;
        font-size: 23px;
    }

    .problem-buttons {
        gap: 30px;
        padding-top: 30px;
    }
    .problem-buttons .icon-button {
        font-size: 18px;
        padding: 15px 30px 15px 25px;
        border-radius: 20px;
    }

    
}








