.banner-container {
    background-color: #F8F3EF; /* màu nền theo ảnh */
    padding: 0;
    position: relative;
}
.banner-inner {
    background-color: #214ECF;
    margin: 20px;
    border-radius: 20px;
    height: 430px;
    overflow: hidden;
}
.banner-inner img.mascot-picture {
    width: 100%;
    height: auto;
    margin-top: -200px;
    display: block;
}

.banner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F8F3EF;
    font-family: 'Google Sans', sans-serif;
}

.banner-title {
    font-size: 24px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
