main {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 20px;
}

main > * > * {
    /*

    */
    margin: 0 auto;
    /*điều chỉnh chiều rộng nội dung ở đây*/
    max-width: 1600px;
}

/* Loại bỏ gap giữa phần tử cuối và gần cuối */
main > *:last-child {
    margin-top: -20px;
}