main {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 20px;
}

main > * > * {
    /*
        chú ý nếu thêm `{name}Section` thì code của `{name}Section.jsx` như sau:

        return (
            <section className="{name}-section">
                <div className="{name}-container">
                    ...
                </div>
            </section>
        );
    
    */
    /*điều chỉnh chiều rộng nội dung ở đây*/
    max-width: min(90vw, 1600px);

    margin: 0 auto;
}

/* Loại bỏ gap giữa phần tử cuối và gần cuối */
main > *:last-child {
    margin-top: -20px;
}