/* =============== CTA Section =============== */

.cta-section {
    margin-top: -20px;
}

.cta-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.cta-subtitle {
    font-weight: bold;
    line-height: 1.4;
    font-size: 1.7vw;
    color: #333;
}

.cta-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}

/* =============== Button Style =============== */

.cta-buttons .icon-button {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    padding: 20px 80px 20px 30px;
    background: #214ECF;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.cta-buttons .icon-button:hover {
    background: #083db2;
    transform: scale(1.05);
}


/* =============== Giai đoạn 2: 769px → 1024px =============== */

@media (max-width: 1024px) and (min-width: 769px) {
    
    .cta-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .cta-subtitle {
        font-size: 25px;
        max-width: 55%;
        text-align: left;
    }

    .cta-buttons {
        margin-top: 35px;
        flex-direction: column;
        align-items: flex-end;
        max-width: 300px;
    }

    .cta-buttons .icon-button {
        font-size: 2rem;
        padding: 12px 50px 12px 20px;
        width: 100%;
    }
}


/* =============== Giai đoạn 3: 576px → 768px =============== */

@media (max-width: 768px) and (min-width: 576px) {
    .cta-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        text-align: center;
    }

    .cta-subtitle {
        font-size: 18px;
        max-width: 90vw;
        text-align: center;
    }

    .cta-buttons {
        margin-top: -30px;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .cta-buttons .icon-button {
        font-size: 1.8rem;
        padding: 10px 40px;
        min-width: 130px;
    }
}


/* =============== Giai đoạn 4: ≤575px =============== */

@media (max-width: 575px) {
    .cta-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .cta-subtitle {
        font-size: 16px;
        max-width: 90vw;
        text-align: center;
    }

    .cta-buttons {
        margin-top: -20px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .cta-buttons .icon-button {
        font-size: 1.7rem;
        padding: 12px 30px;
        width: 100%;
        max-width: 280px;
    }
}
