.difference-container {
    background-color: #214ECF;
    text-align: center;
    font-family: 'Google Sans', sans-serif;
}

.difference-title {
    color: white;
    line-height: 1.2;
}

.difference-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.difference-column {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.difference-cell, .difference-header {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.difference-header {
    background-color: #F2674A;
    color: white;
    font-weight: bold;
}

.difference-cell:nth-child(even) {
    background-color: #F3F3F3;
}

.icon-img {
    object-fit: contain;
}

.icon-img:hover {
    opacity: 1.3;
    transition: transform .2s;
    transform: scale(1.1);
}




.difference-container {
    border-radius: min(40px, 2.2vw);
}
.difference-title {
    font-size: min(49px, 2.6vw);
}
.difference-table {
    margin: 0 auto;
    padding: 0px min(20px, 1vw);
    padding-bottom: min(50px, 2.7vw);
    gap: min(10px, 0.5vw);
}
.difference-column {
    border-radius: min(30px, 1.6vw);
}

.difference-column:nth-child(1) {
    width: min(460px, 25.2vw);
}

.difference-cell, .difference-header {
    min-height: min(100px, 5.5vw);
    font-size: min(28px, 1.5vw);
}
.difference-header {
    font-size: min(37px, 2vw);
}
.icon-img {
    width: min(50px, 2.8vw);
    height: min(50px, 2.8vw);
}





@media (max-width: 768px) {
    .difference-table {
        grid-template-columns: repeat(5, 1fr);
        gap: 6px;
        max-width: 100%;
    }

    .difference-title {
        font-size: 20px;
    }

    .difference-header,
    .difference-cell {
        font-size: 10px;
        white-space: normal;
        word-wrap: wrap;
        line-height: 1.3;
        height: 35px;
        text-align: center;
    }

    .icon-img {
        width: 20px;
        height: 20px;
    }
}
