@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
/* =============== Hero Section =============== */

.hero-container {
    margin-top: -20px;
    max-width: 1920px;
    border-radius: 0;


    position: relative;
    height: 700px;
    font-family: 'Google Sans', sans-serif;
    overflow: hidden;
    color: #fff;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(to bottom, #d6d6d6 0%, #ffffff 100%);
}

.hero-bg img {
    position: absolute;
    width: 100%;      
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 1;
}

.hero-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    filter: brightness(0) invert(1); /* ép về trắng */
    width: max(1830px, 100%);
    height: 25%;
    z-index: 3;
    display: block;
    pointer-events: none;
    margin-bottom: -0.2%; 
}

/* =============== Hero Content =============== */

.hero-inner {
    position: relative;
    z-index: 4;
    margin-top: 10%;      
    padding: 0 5%;
    text-align: left;
}

.hero-title {
    font-size: 325%;
    line-height: 1.3;
}

.badge {
    background: rgba(242, 103, 74, 0.65);
    color: #fff;
    padding: 0.8% 1.5%;
    border-radius: 999px;
    font-size: 200%;
    font-weight: bold;
    opacity: 0.85;
    transition: transform 0.3s ease;
    position: absolute;
}
.badge-1 { bottom: -280px; left: 560px; }
.badge-2 { bottom: -280px; left: 760px; }
.badge-3 { bottom: -365px; left: 780px; }
.badge-4 { bottom: -365px; left: 1030px; }
.badge:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

/* =============== Lower Text =============== */

.hero-lower-text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    color: #000;
    text-align: left;
}

.hero-headline {

    font-size: 220%;
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
    margin-left: 15%;
    width: 100%;
}

.hero-headline span {
    font-size: 180%;
    font-weight: 800;
}

