.header {
    background-color: #214ECF;
    height: 145px;
}

.logo {
    height: 70px;
    width: auto;
    margin-left: 50px;
}
.header-nav {
    position: absolute;
    top: 30px;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-group {
    display: flex;
    align-items: center;
}


/* Search icon */
.nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px 50px 50px 50px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.nav-search img {
    width: 30px;
    height: 30px;
    object-fit: contain; 
}

/* Nav links capsule */
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    height: 50px;
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-left: 350px;
    width: 450px;
    border-radius: 50px 50px 50px 50px;
    font-size: 20px;
}


.nav-links a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    margin: 9px;
}

/* Auth buttons */
.nav-auth {
    display: flex;
    gap: 10px;
}

.nav-btn {
    background: #ffffff;
    color: #000;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
    height: 85px;
    width: 190px;
    display: flex;
    align-items: center;
    opacity: 0.9; /* Tạo hiệu ứng mờ */
    transition: opacity 0.3s ease; /* Thêm hiệu ứng mờ khi hover */
}
.nav-btn:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.2s ease;
}
.nav-login {
    background: #F2674A;
    color: #fff;
    border: 2px solid #F2674A;
}
