.solution-section {
    text-align: center;
    padding: 60px 40px;
    background: #fff; /* hoặc màu nền chính */
    font-family: 'Google Sans', sans-serif;
}

.solution-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.solution-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.solution-card {
    width: 250px;
    height: 350px;
    background: linear-gradient(135deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 20px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.3s ease;
}
.solution-card:nth-child(1) {
    background: #214ECF;
    justify-content: center;
    margin-top: 30px;
    transform: translateY(30px);
}
.solution-card:nth-child(2) {
    background: #F2674A;
    justify-content: center;
    margin-top: 30px;
    transform: translateY(-30px);
}
.solution-card:nth-child(3) {
    background: #214ECF;
    justify-content: center;
    margin-top: 30px;
    transform: translateY(30px);
}
.solution-card:nth-child(4) {
    background: #F2674A;
    justify-content: center;
    margin-top: 30px;
    transform: translateY(-20px);

}
.solution-card:hover {
    transform: translateY(-5px);
}

.solution-card-img {
    transform: scale(0.6);
    margin-bottom: -50px;
}

.solution-card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -10px;
}


.solution-card-text {
    font-size: 1.25rem;
    font-weight:500;
    line-height: 1.2;
}
