.recruit-container {
    padding: 4rem 1rem;
    background: #f9fafb;
    text-align: center;
    font-family: 'Google Sans', sans-serif;
}

.recruit-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

/*.recruit-desc {*/
/*    font-size: 1rem;*/
/*    color: #4a5568;*/
/*    max-width: 700px;*/
/*    margin: 0 auto 2rem;*/
/*    white-space: nowrap;*/
/*}*/

.recruit-cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.recruit-cta a {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-primary {
    background: #F2674A;
    color: #fff;
}

.btn-primary:hover {
    opacity: 1.1;
    transform: scale(1.05);
}

.btn-secondary {
    background: #214ECF;
    color: #fff;
}

.btn-secondary:hover {
    opacity: 1.1;
    transform: scale(1.05);
}
.recruit-con {
    font-size: larger;
    font-weight: bold;
}
@media (min-width: 640px) {
    .recruit-cta {
        flex-direction: row;
    }
}
