.recruit-container {
    padding: 4rem 1rem;
    text-align: center;
    font-family: 'Google Sans', sans-serif;
}

.recruit-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

/*.recruit-desc {*/
/*    font-size: 1rem;*/
/*    color: #4a5568;*/
/*    max-width: 700px;*/
/*    margin: 0 auto 2rem;*/
/*    white-space: nowrap;*/
/*}*/

.recruit-cta {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 24px 0;
}

.recruit-cta a {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    min-width: 160px;
    max-width: 240px;
    width: fit-content;
    box-sizing: border-box;
}

.btn-primary {
    background: #F2674A;
    color: #fff;
}

.btn-primary:hover {
    opacity: 1.1;
    transform: scale(1.05);
}

.btn-secondary {
    background: #214ECF;
    color: #fff;
}

.btn-secondary:hover {
    opacity: 1.1;
    transform: scale(1.05);
}
.recruit-con {
    font-size: larger;
    font-weight: bold;
}
@media (max-width: 960px) {
    .recruit-title {
        font-size: 2rem;
    }
    .recruit-cta {
         flex-direction: row;
     }
}

@media (max-width: 480px) {
    .recruit-title {
        font-size: 1rem;
    }
}


