

/* =============== CTA =============== */
.cta-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cta-container {
    background: #fff;
    flex-wrap:  wrap;
    display: flex;
    justify-content: space-between;  /* subtitle bên trái - nút bên phải */
}

.cta-subtitle {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
    width: 40vw;
    margin: 0;
}

.cta-buttons {
    gap: 20px;
    display: flex;
    white-space: nowrap;
    max-width: 40vw;
    align-items: center;
    flex-direction: row;
}
.cta-buttons .label {
    font-size: 2.7rem;
    display: flex;
    padding: 10px;
}


.cta-buttons .icon-button {
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 170px 0 40px;

    white-space: nowrap;
    
    background: #214ECF;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.cta-buttons .icon-button:hover {
    background: #083db2;      /* hover darker */
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .cta-section {
        display: flex;
        justify-content: center; /* căn giữa ngang */
        align-items: center;
    }
    .cta-container{
        flex-direction: column;
    }
    .cta-subtitle {
        font-size: 20px;
        width: 90vw;
        text-align: center;
    }

    .cta-buttons {
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        max-width: 300px;
        gap: 12px;
        justify-content: center;
    }
    .cta-buttons .label {
        font-size: 24px;
        text-justify: inter-word;
    }
}
