.icon-button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: #214ECF;
    border-radius: 50px;
    justify-content: center; /* canh giữa ngang */
    align-items: center;
    max-width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-button .shape {
    display: block;
    width: 100%;
    height: 100%;
}

.icon-button .label {
    position: relative; /* không cần absolute nếu không định căn giữa theo phần tử cha */
    color: white;
    font-weight: bold;
    white-space: nowrap; /* nếu muốn không bị xuống dòng */
    justify-items: center;
}
.icon-button .icon {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.icon-button:hover .icon {
    opacity: 1;
    transform: translateX(0) scale(2);
}
